
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="/CSS_File/aboutStyle.css">
</head>
<body>
  
  <div class="container">
  <div class="logo">
  	<img  src="/image/creditCardCompare.png" alt="Company Logo">
    <h1>About Us</h1>
  </div>  
    <p>In this technology driven era, the way customers get informed and make their mind to apply for credit cards has changed. The decision to apply for a new credit card starts with a question and not just a simple keyword, for which we are here to provide you answers. We help users to solve this problem by providing a simpler, user friendly, quick and hassle-free platform for the credit card application.  You are just one click away to apply for a new bank credit card. We provide you the detailed information related to credit cards be it the informed and accurate details, travel, lounges, movie and dining benefits, various deals and offers associated with the credit cards, and other user benefits.
Credit Card Comapre will be your one stop destination to solve all your credit cards related queries and we are happy to solve them timely. So to make your financial journey easy and hassle free, join your hands with us and let us help in making your decisions simpler. Credit Card Compare will make the task easier and simpler for you, and that’s our PROMISE!</p>
    <p>We hope that you make a smart decision in choosing credit card and its benefits that will help you further in your financial journey!</p>
  </div>
</body>
</html>
