<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Admin Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/CSS_File/adminDashboardStyle.css">
</head>
<body>
	<header>
		<h1>Admin Dashboard</h1>
		<nav>
			<ul>
				
				<li><a href="#">Logout</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="overview">
			<h2>Bank List</h2>
			<div class="card">
				<table>
				<thead>
					<tr>
						<th>Bank Name</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bank : ${bank}">
                	<td th:text="${bank.bankName}"></td>
					<td><a style="text-decoration:none" th:href="@{/bankStatusAccept/{id}(id=${bank.bankid})}">Accept</a> |
					 <a style="text-decoration:none" th:href="@{/bankStatusReject/{id}(id=${bank.bankid})}">Reject</a></td>					
					</tr>
				</tbody>
			</table>
			</div>
		</section>
		<section class="user-list">
			<h2>Card List</h2>
			<div class="card">
			<table>
				<thead>
					<tr>
						<th>Bank Name</th>
						<th>Card Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="card : ${card}">
					<td th:text="${card.Bank.bankName}"></td>
                	<td th:text="${card.cardName}"></td>
                	
                	<td><a style="text-decoration:none" th:href="@{/card/edit/{id}(id=${card.cardid})}">Edit</a></td>
                	
                	
					</tr>
					
				</tbody>
			</table>
			</div>
		</section>
	</main>
</body>
</html>
