<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample Thymeleaf Page with CSS</title>
    <link rel="stylesheet" href="/CSS_File/categoriesPageStyle.css" th:href="@{/CSS_File/categoriesPageStyle.css}" />
</head>
<body>
    <div class="container">
        <div class="topHeading">
            <div class="topHeadingContent">
                <p>Best Credit Cards in India 2023</p>
            </div>
            <!-- <button>Home</button> -->
        </div>

        <div class="firstTextArea">
            <div class="firstTextAreaContent">
                <p>An ideal credit card is supposed to have a high reward rate, and offer complimentary benefits like access to airport lounges, golf rounds/lessons, etc, at a very less or zero membership fee. But that sounds like a very utopian idea. It's not monetarily feasible for card issuers to offer such a rewarding credit card that too at a nominal membership fee. Therefore, what they do instead is, offer the best credit cards offering benefits in different categories so that individuals may choose a credit card based on their spending habits. No single credit card can be termed as “the best credit card” for everyone, but it can vary based on the requirements and spending behavior of individuals. Therefore, keeping all the segments of people in mind, we have come up with a list of the best credit cards in India.</p>
                <br><br>
                <p>Applying for a credit card without good research is never a good idea. You should understand your spending habits first and then go with a card that fits you the best. With thousands of credit card options available in the market, it becomes difficult for people to filter out the best cards and apply for one of them. To help you with choosing the best credit card in India, we are here with this article. Keep reading for further information:</p>
            </div>
        </div>

        <div class="mainContainer">
            <div class="firstTopHeading">
                <p>List of Best Credit Cards in India 2023</p>
            </div>
            <div class="firstTopTextArea">
                <p>Once you have figured out which category of credit card you would fulfil your needs the best, you need to filter out the best credit cards in the category you are looking for. We have made the task simpler for you. We have curated a list of best credit cards available in India 2023 from each category currently available in the market.</p>
            </div>
            <div class="firstDiv">
                <div class="firstDivHeader">
                    <div class="fisrtDivHeaderText">
                        <p>Samsung Axis Bank</p>
                    </div>
                    <div class="firstDivHeaderButton">
                        <a><button>Apply Now</button></a>
                    </div>
                </div>
                <div class="secondDivContent">
                    <div class="secondDivContentBox1">
                        <div class="secondDivContaintBox1img">
                            <img src="image/Samsung Axis Bank Signature Credit Card.png" alt="">
                        </div>
                    </div>
                    <div class="secondDivContentBox2">
                        <div class="secondDivContentBox2Heading">
                            <p>Welcome Benefits</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Complimentary SonyLiv Premium annual subscription worth Rs. 999</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox3">
                        <div class="secondDivContentBox2Heading">
                            <p>Rewards Rate</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>4 EDGE Points for every Rs 200 spent with the card (reward rate of 0.4%)</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox4">
                        <div class="secondDivContentBox2Heading">
                            <p>Joining Fees</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Nil</p>          
                        </div>
                    </div>
                </div>
            </div>


            <div class="firstDiv">
                <div class="firstDivHeader">
                    <div class="fisrtDivHeaderText">
                        <p>Airtel Axis Bank</p>
                    </div>
                    <div class="firstDivHeaderButton">
                        <a><button>Apply Now</button></a>
                    </div>
                </div>
                <div class="secondDivContent">
                    <div class="secondDivContentBox1">
                        <div class="secondDivContaintBox1img">
                            <img src="image/Airtel Axis Bank Credit Card.png" alt="">
                        </div>
                    </div>
                    <div class="secondDivContentBox2">
                        <div class="secondDivContentBox2Heading">
                            <p>Welcome Benefits</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Complimentary SonyLiv Premium annual subscription worth Rs. 999</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox3">
                        <div class="secondDivContentBox2Heading">
                            <p>Rewards Rate</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>4 EDGE Points for every Rs 200 spent with the card (reward rate of 0.4%)</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox4">
                        <div class="secondDivContentBox2Heading">
                            <p>Joining Fees</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Nil</p>          
                        </div>
                    </div>
                </div>
            </div>


            <div class="firstDiv">
                <div class="firstDivHeader">
                    <div class="fisrtDivHeaderText">
                        <p>Flipkart Axis Bank</p>
                    </div>
                    <div class="firstDivHeaderButton">
                        <a><button>Apply Now</button></a>
                    </div>
                </div>
                <div class="secondDivContent">
                    <div class="secondDivContentBox1">
                        <div class="secondDivContaintBox1img">
                            <img src="image/Flipkart Axis Bank Credit Card.png" alt="">
                        </div>
                    </div>
                    <div class="secondDivContentBox2">
                        <div class="secondDivContentBox2Heading">
                            <p>Welcome Benefits</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Complimentary SonyLiv Premium annual subscription worth Rs. 999</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox3">
                        <div class="secondDivContentBox2Heading">
                            <p>Rewards Rate</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>4 EDGE Points for every Rs 200 spent with the card (reward rate of 0.4%)</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox4">
                        <div class="secondDivContentBox2Heading">
                            <p>Joining Fees</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Nil</p>          
                        </div>
                    </div>
                </div>
            </div>


            <div class="firstDiv">
                <div class="firstDivHeader">
                    <div class="fisrtDivHeaderText">
                        <p>Club Vistara SBI Card</p>
                    </div>
                    <div class="firstDivHeaderButton">
                        <a><button>Apply Now</button></a>
                    </div>
                </div>
                <div class="secondDivContent">
                    <div class="secondDivContentBox1">
                        <div class="secondDivContaintBox1img">
                            <img src="image/Club Vistara SBI Card.png" alt="">
                        </div>
                    </div>
                    <div class="secondDivContentBox2">
                        <div class="secondDivContentBox2Heading">
                            <p>Welcome Benefits</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Complimentary SonyLiv Premium annual subscription worth Rs. 999</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox3">
                        <div class="secondDivContentBox2Heading">
                            <p>Rewards Rate</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>4 EDGE Points for every Rs 200 spent with the card (reward rate of 0.4%)</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox4">
                        <div class="secondDivContentBox2Heading">
                            <p>Joining Fees</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Nil</p>          
                        </div>
                    </div>
                </div>
            </div>


            <div class="firstDiv">
                <div class="firstDivHeader">
                    <div class="fisrtDivHeaderText">
                        <p>Air India SBI Platinum Card</p>
                    </div>
                    <div class="firstDivHeaderButton">
                        <a><button>Apply Now</button></a>
                    </div>
                </div>
                <div class="secondDivContent">
                    <div class="secondDivContentBox1">
                        <div class="secondDivContaintBox1img">
                            <img src="image/Air India SBI Platinum Credit Card.png" alt="">
                        </div>
                    </div>
                    <div class="secondDivContentBox2">
                        <div class="secondDivContentBox2Heading">
                            <p>Welcome Benefits</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Complimentary SonyLiv Premium annual subscription worth Rs. 999</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox3">
                        <div class="secondDivContentBox2Heading">
                            <p>Rewards Rate</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>4 EDGE Points for every Rs 200 spent with the card (reward rate of 0.4%)</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox4">
                        <div class="secondDivContentBox2Heading">
                            <p>Joining Fees</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Nil</p>          
                        </div>
                    </div>
                </div>
            </div>


            <div class="firstDiv">
                <div class="firstDivHeader">
                    <div class="fisrtDivHeaderText">
                        <p>HDFC Dinersclub Premium</p>
                    </div>
                    <div class="firstDivHeaderButton">
                        <a><button>Apply Now</button></a>
                    </div>
                </div>
                <div class="secondDivContent">
                    <div class="secondDivContentBox1">
                        <div class="secondDivContaintBox1img">
                            <img src="image/hdfc_dinersclub premium.png" alt="">
                        </div>
                    </div>
                    <div class="secondDivContentBox2">
                        <div class="secondDivContentBox2Heading">
                            <p>Welcome Benefits</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Complimentary SonyLiv Premium annual subscription worth Rs. 999</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox3">
                        <div class="secondDivContentBox2Heading">
                            <p>Rewards Rate</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>4 EDGE Points for every Rs 200 spent with the card (reward rate of 0.4%)</p>
                        </div>
                    </div>
                    <div class="secondDivContentBox4">
                        <div class="secondDivContentBox2Heading">
                            <p>Joining Fees</p>
                        </div>
                        <div class="secondDivContentBox2Text">
                            <p>Nil</p>          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
