<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Header</title>
    <link rel="stylesheet" href="CSS_File/headerStyle.css">
</head>
<body>
    <section class="">
        <div class="navbar">
        
          <nav style="display: flex;">
          <a href="home"><img style="height: 40px; margin-left: 2rem;" src="/image/creditCardCompare.png" alt="Company Logo"></a>
          <div class="menu" style="margin-top: 10px; margin-left: 5rem">
            <a href="home" class="headerMenu">Home</a>            
            <a href="about" class="headerMenu">About</a>
            <li class="dropdown">
              <a  class="dropbtn">Card Categories <img class="dropimg" alt="" src="/image/down-arrow.png" /></a>
              <div class="dropdownmain">
	              <div class="dropdown-content">
	                <a href="/categoriesPage/1">Best Credit Card</a>
	                <a href="/categoriesPage/2">Rewards</a>
	                <a href="/categoriesPage/3">CashBack</a>
	              	<a href="/categoriesPage/4">Fuel</a>
	                <a href="/categoriesPage/5">LifeTime Free</a>
	                <a href="/categoriesPage/6">Secured</a>
	                <a href="/categoriesPage/7">Balance Transfer</a>
	                <a href="/categoriesPage/8">Low Interest</a>
	                <a href="/categoriesPage/9">Travel</a>
	                <a href="/categoriesPage/10">Domestic Lounge</a>
	                <a href="/categoriesPage/11">International Lounge</a>
	                <a href="/categoriesPage/12">International Transactions</a>	                
	              </div>
              </div>
            </li>
            <li class="dropdown">
              <a  class="dropbtn">Card Issuer <img class="dropimg" alt="" src="/image/down-arrow.png" /></a>
              <div class="dropdownmain">
	              <div class="dropdown-content">
	                <a href="/categoriesPageBank/2">HDFC Bank</a>
	                <a href="/categoriesPageBank/1">AXIS Bank</a>
	                <a href="/categoriesPageBank/54">Bank Of Baroda</a>
	              	<a href="/categoriesPageBank/53">IDFC</a>
	                <a href="/categoriesPageBank/55">SBI</a>
	                <a href="/categoriesPageBank/52">AU Bank</a>
	                <a href="/categoriesPageBank/56">ICICI</a>
	                <a href="/categoriesPageBank/57">CITI Bank</a>
	                <a href="/categoriesPageBank/58">RBL Bank</a>
	                <a href="/categoriesPageBank/59">Kotak Mahindra</a>
	                <a href="/categoriesPageBank/60">American Express</a>
	                <a href="/categoriesPageBank/61">Indusind Bank</a>
	                <a href="/categoriesPageBank/62">Standard Chartered</a>
	                <a href="/categoriesPageBank/63">HSBC</a>
	                <a href="/categoriesPageBank/64">Yes Bank</a>	                
	              </div>
              </div>
            </li>            	
            <a href="contact" class="headerMenu">Contact</a>            
            <a href="login" class="headerMenu">Login</a>
           <a href="https://www.facebook.com/profile.php?id=100009243700470" target="_blank" class="media"><li class="fa fa-facebook facebook"></li>
            <a href="https://twitter.com/home" target="_blank" class="media"><li class="fa fa-twitter twitter" ></li></a>                     
           </div> 
          </nav>
        </div>
      </section>
</body>
</html>